@model Rack
@{
    ViewData["Title"] = "Details";
}
 

<div class="card">
    <div class="card-header">
        <h1>Rack Detail</h1>
    </div>
    <div class="card-body">
        <div class="col-12">
            <label>Code</label>
            <div>
                <label>@Model.Code</label>
            </div>
        </div>
    </div>
</div>