@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header flex-wrap">
  
    <div class="d-flex">
        <button type="button" class="btn btn-sm bg-white btn-icon-text border">
            <i class="mdi mdi-email btn-icon-prepend"></i> Email
        </button>
        <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
            <i class="mdi mdi-printer btn-icon-prepend"></i> Print
        </button>
     </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
        <div class="row">
            <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-warning">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Racks</p>
                                <h2 class="text-white">
                                    10<span class="h5"></span>
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                        </div>
                        <h6 class="text-white"></h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-danger">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Shelves</p>
                                <h2 class="text-white">
                                    10<span class="h5"></span>
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                <div class="card bg-primary">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Books</p>
                                <h2 class="text-white">
                                    10000<span class="h5"></span>
                                </h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
                <div class="card bg-success">
                    <div class="card-body px-3 py-4">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="color-card">
                                <p class="mb-0 color-card-head">Affiliate</p>
                                <h2 class="text-white">2368</h2>
                            </div>
                            <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                        </div>
                        <h6 class="text-white">20.32% Since last month</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7">
                        <h5>Library Survey</h5>
                        <p class="text-muted">
                           Book Reading Ratio<a class="text-muted font-weight-medium pl-2" href="#"><u>See Details</u></a>
                        </p>
                    </div>
                    <div class="col-sm-5 text-md-right">
                        <button type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-primary font-weight-normal">
                            <i class="mdi mdi-email btn-icon-prepend"></i>Download Report
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-3 mb-sm-0">
                            <div class="card-body py-3 px-4">
                                <p class="m-0 survey-head">Today Reading</p>
                                <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                    <div>
                                        <h3 class="m-0 survey-value">1000</h3>
                                        <p class="text-success m-0">-5000</p>
                                    </div>
                                    <div id="earningChart" class="flot-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-3 mb-sm-0">
                            <div class="card-body py-3 px-4">
                                <p class="m-0 survey-head">Purchae Books</p>
                                <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                    <div>
                                        <h3 class="m-0 survey-value">$9,100</h3>
                                        <p class="text-danger m-0">-310 avg. sales</p>
                                    </div>
                                    <div id="productChart" class="flot-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body py-3 px-4">
                                <p class="m-0 survey-head">Donated Books</p>
                                <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                    <div>
                                        <h3 class="m-0 survey-value">3000</h3>
                                        <p class="text-success m-0">-500</p>
                                    </div>
                                    <div id="orderChart" class="flot-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-12">
                        <div class="flot-chart-wrapper">
                            <div id="flotChart" class="flot-chart">
                                <canvas class="flot-base"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
 